.nav {
    display: flex;
    flex-direction: row;
    color: blue;
}

.navbar {
    text-decoration: none;
}

.logo {
    flex: 1;  
    display: flex;  
    flex-direction: row;
}

.login {  flex: 1;
    display: flex;
    flex-direction: row-reverse;        
}