.nav {
    display: flex;
    flex-direction: row;
    color: blue;
    width: 100%
}

.navbar {
    text-decoration: none;
}

.midden {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 25%;
    text-align: center;
}

.login {
    width: 25%;
    text-align: center;
}