html {
    font-family: Goldman Regular;
    font-size: 100;
    font-weight: bold;
    color: white;
}

body {
    background: black;
    margin: 0;
}

nav {
  list-style-type: none;
  font-size: 1.2rem;
  position: fixed;
  display: flex;
  width: 100%;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  background: #00a9c7;
  justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
}


li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 4rem 0 4rem;
    display: inline-block;
}

li a:hover:not(.active) {
    background: #E9E9E9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #E9E9E9;
    min-width: 20vw;
    z-index: 1;
    box-shadow: 0rem 0.5rem 1rem 0rem rgb(0,0,0,0.2);
}

.dropdown-content a {
    color: #00a9c7;
    padding: 0.8rem 1rem;
    display: block;
    justify-content: flex-start;
}

.dropdown:hover .dropdown-content {
    display: block;
    background: white ;
}

.dropdown:hover .dropbutton {
    background-color:#E9E9E9;
    color:#00a9c7;
}

h1 {
    display: flex;
    justify-content: center;
}

section {
    padding: 4rem;
    padding-bottom: 15rem;
}

.hacker {
    width: 5vw;
    margin: 7px;
    margin-left: 2rem;
}

.hacker2 {
    width: 100vw;
    height: auto;
}

.htmlcss {
    width: 24vw;
    padding-right: 7rem;
}

.javascript {
    width: 17vw;
    padding-right: 5rem;
    padding-left: 7rem;
}

.php {
    width: 20vw;
    padding-right: 7rem;
}

.sql {
    width: 30vw;
    padding-left: 7rem;
}

p {
    padding: 0 2rem 0 7rem
}

.p1 {
    display: flex;
    justify-content: flex-end;
}

.p2 {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-start;
}

.p3 {
    display: flex;
    justify-content: flex-end;
}

.p4 {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-start;
}

footer {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 5vh;
    width: 100%;
    background: #00a9c7;
}